@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');


html, 
body {
  height: 100%;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #DBDBDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3B3B3B;
  font-weight: 500;
  height: 100%;
  overflow: auto;
}

.hand {
  min-width: 750px;
}

.mini-hand {
  margin: 0 0 1rem 0;
  transform: scale(.5);
}

#gameover, 
#win {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

#board-bottom-gameover #outcome {
  font-size: 3.5rem;
}

button {
  border: none;
  background-color: transparent;
}

#score-count {
  font-weight: 800;
  display: block;
  text-align: center;
  font-size: 85px;
  margin: 2rem 0;
}

.front {
  will-change: transform;
  transition: transform 250ms;
}

.pushable:hover .front {
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.not-pushable {
  background: #3B3B3B;
  border: none;
  border-radius: 15px;
  padding: 0;
  cursor: default;
  opacity: .5;
  min-width: 165px;
}

.not-pushable .front {
  transform: translateY(0px);
}

.pushable {
  background: #3B3B3B;
  border: none;
  border-radius: 15px;
  padding: 0;
  cursor: pointer;
  min-width: 165px;
}

.front {
  font-family: 'JetBrains Mono', monospace;
  display: block;
  padding: 15px 40px;
  border-radius: 15px;
  font-size: 1.5rem;
  color: #3B3B3B;
  transform: translateY(-4px);
  background: #DBDBDB;
  border: 3px solid #3B3B3B;
  font-weight: 700;
}

.not-pushable:hover .front {
  transform: translateY(0px);
}

button {
  margin: 0 10px;
}

#score {
  height: 10vh;
}

#board-bottom,
#board-bottom-gameover {
  height: 20vh;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#board-bottom-gameover h3 {
  display: inline-block;
  font-size: 45px;
  margin: 0 auto;
}

#board-bottom-gameover {
  display: flex;
  justify-content: space-evenly;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.total {
  font-size: 65px;
  font-weight: 800;
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

#help {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin: 2rem;
}

#help h2 {
  margin: 0 0 0.15rem 0;
  font-weight: 900;
  font-size: 45px;
}

#mute {
  max-width: 50px;
}

#score h3 {
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
}

#score h2 {
  margin: 0 0 .15rem 0;
  font-weight: 400;
}

.name {
  font-size: 55px;
  font-weight: 700;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin-right: 15px;
}

li {
  color: #3B3B3B;
  font-size: 55px;
  border-radius: 15px;
  text-align: center;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li:nth-of-type(3),
ul li:nth-of-type(4),
ul li:nth-of-type(5),
ul li:nth-of-type(6),
ul li:nth-of-type(7),
ul li:nth-of-type(8) {
  border: 3px solid #3B3B3B;
  aspect-ratio: 1;
}

ul li:nth-of-type(3) {
  border-radius: 15px 15px 0 0;
  transform: translate(15px, 3px);
  position: relative;
  z-index: 0;
}

ul li:nth-of-type(3):after,
ul li:nth-of-type(4):after {
  position: absolute;
  background-color: #DBDBDB;
  width: 34px;
  z-index: 1;
  content: "";
  left: calc(50% - 17px);
  height: 110%;
}

ul li:nth-of-type(3):before,
ul li:nth-of-type(4):before {
  position: absolute;
  background-color: #DBDBDB;
  height: 34px;
  z-index: 1;
  content: "";
  right: -5px;
  width: 110%;
}

ul li:nth-of-type(4) {
  border-radius: 0 0 0 15px;
}

ul li:nth-of-type(5),
ul li:nth-of-type(6),
ul li:nth-of-type(7) {
  border-radius: 0 0 0 0;
  transform: translateX(6px);
  position: relative;
}

/* horizontal divider  */
ul li:nth-of-type(5):before,
ul li:nth-of-type(6):before,
ul li:nth-of-type(7):before,
ul li:nth-of-type(8):before  {
  position: absolute;
  background-color: #DBDBDB;
  z-index: 1;
  content: "";
  left: calc(50% - 17px);
  width: 34px;
  height: 110%;
}

/* vertical divider  */
ul li:nth-of-type(5):after,
ul li:nth-of-type(6):after,
ul li:nth-of-type(7):after,
ul li:nth-of-type(8):after  {
  position: absolute;
  background-color: #DBDBDB;
  height: 34px;
  z-index: 1;
  content: "";
  right: -5px;
  width: 110%;
}

ul li:nth-of-type(4) {
  transform: translateX(15px);
}

ul li:nth-of-type(5) {
  transform: translateX(12px);
}

ul li:nth-of-type(6) {
  transform: translateX(9px);
}

ul li:nth-of-type(8) {
  border-radius: 0 15px 15px 0;
  transform: translateX(3px);
}

li:nth-of-type(1) {
  grid-column: 2 / 5;
  grid-row: 1;
}

ul li:nth-of-type(2) {
  grid-column: 5 / 6;
  grid-row: 1;
}

.card-value {
  z-index: 100;
  position: relative;
  font-weight: 800;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

.blink-delay {
  animation: blink-animation .5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
  animation-delay: .5s;
}

.blink-delay-2 {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
  animation-delay: 2s;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 760px) {
  body, html {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15px;
  }

  #swap {
    top: 1rem;
    right: 1rem;
    position: absolute;
    cursor: pointer;
    color: #3B3B3B;
  }

  #board-bottom-gameover #outcome {
    text-align: center;
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 1rem;
  }

  .board {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul .name {
    text-align: left;
    transform: none !important;
  }

  ul {
    margin-left: 15px;
  }

  #score h3 {
    font-size: 2rem;
    margin: 0 0 0 15px;
    text-align: left;
  }

  #score h2 {
    margin: 0 0 0 15px;
  }

  #score {
    position: relative;
    margin: 15px;
    font-size: 12px;
  }

  li:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  
  ul li:nth-of-type(2) {
    grid-column: 2 / 2;
    grid-row: 1;
    margin-left: 15px;
  }

  li {
    max-width: 100%;
  }

  .hand {
    min-width: 100%;
    margin: 0;
  }

  #board-bottom,
  #board-bottom-gameover {
    height: 15vh;
  }

  .pushable,
  .not-pushable {
    margin: 0.25rem;
    min-width: auto;
  }

  .front {
    padding: 0.75rem;
    font-size: 1.25rem;
  }

  #root {
    max-width: 100%;
    margin: 0.75rem;
  }

  ul li:nth-of-type(3),
  ul li:nth-of-type(4),
  ul li:nth-of-type(5),
  ul li:nth-of-type(6),
  ul li:nth-of-type(7),
  ul li:nth-of-type(8) {
    aspect-ratio: 2.5;
  }

  ul li:nth-of-type(1) {
    transform: translateX(-2px);
  }

  ul li:nth-of-type(2) {
    border-radius: 0;
    transform: translate(2px, 0);
  }

  ul li:nth-of-type(3) {
    border-radius: 15px 0 0 0;
    transform: translate(1.5px, 0);
  }

  ul li:nth-of-type(4) {
    border-radius: 0 15px 0 0;
    transform: translate(-1.5px, 0);
  }
  
  ul li:nth-of-type(5) {
    border-radius: 0;
    transform: translate(1.5px, -3px);
  }
  
  ul li:nth-of-type(6) {
    border-radius: 0;
    transform: translate(-1.5px, -3px);
  }

  ul li:nth-of-type(7) {
    border-radius: 0 0 0 15px;
    transform: translate(1.5px, -6px);
  }
  
  ul li:nth-of-type(8) {
    border-radius: 0 0 15px 0;
    transform: translate(-1.5px, -6px);
  }

  li {
    font-size: 2rem;
    min-height: 50px;
  }

  .name {
    font-size: 2.25rem;
    margin: 15px;
  }

  .card-value {
    font-size: 2.25rem;
  }

  .total {
    font-size: 2.25rem;
    margin: 15px;
  }

  #board-bottom-gameover h3 {
    font-size: 2rem;
    margin: auto 1rem;
  }

    /* vertical divider  */
  ul li:nth-of-type(5):after,
  ul li:nth-of-type(6):after,
  ul li:nth-of-type(7):after,
  ul li:nth-of-type(8):after  {
    width: 200px;
  }
}


@media (max-width: 460px) { 

  ul li:nth-of-type(3),
  ul li:nth-of-type(4),
  ul li:nth-of-type(5),
  ul li:nth-of-type(6),
  ul li:nth-of-type(7),
  ul li:nth-of-type(8) {
    aspect-ratio: 1.5;
  }
}
